html,body,div,p,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,table,tr,th,td,input,span,a,img,button,select,textarea,i {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    color: #000000;
    background: #FFF;
    // text-align: center;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #F00;
}